@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playpen Sans", cursive;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  height: 90vh;
  background-color: rgb(37, 35, 35);
  padding: 30px;
  border-radius: 10px;
  margin: 10px auto;
  position: relative;
}
img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  border-radius: 10px;
}
.btns {
  margin: 30px auto;
}
.btns button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Playpen Sans", cursive;
  color: white;
  background-color: rgb(72, 72, 183);
  border: none;
  margin: auto 20px;
  cursor: pointer;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.inputs label {
  color: white;
  font-size: 25px;
  margin: 10px;
}
.inputs input {
  width: 45px;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Playpen Sans", cursive;
  font-weight: 600;
  text-align: start;
}
h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
  color: white;
}
.displayNumbers {
  width: 95%;
  height: 30vh;
  background-color: rgb(72, 72, 183);
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
}
.card {
  background-color: rgb(71, 69, 69);
  width: 200px;
  height: 210px;
  display: flex;
  flex-direction: column;
  margin: 6px 15px;
  text-align: center;
  border-radius: 10px;
  word-wrap: break-word;
  text-wrap: wrap;
}
.card h2 {
  font-size: 22px;
  font-weight: 400px;
  color: white;
}
.card p {
  font-size: 35px;
  font-weight: 400px;
  color: white;
}
.result p,
.kontostand p,
.inputValue p {
  margin: auto;
  font-size: 20px;
}
.multiPlay {
  width: 95%;
  height: 50vh;
  margin: 5px auto;
  text-align: start;
  padding: 5px;
  font-size: 15px;
  background-color: rgb(71, 69, 69);
}
.multiPlay p {
  width: 100%;
  font-size: 15px;
  word-wrap: break-word;
  text-wrap: wrap;
}
.containerresult {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.resMultiPlay {
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
  margin: 0 auto;
  width: 45%;
  height: 15vh;
  text-align: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    height: 100vh;
    background-color: rgb(37, 35, 35);
    padding: 10px;
  }
  .btns {
    margin: 10px 0 5px 90px;
  }
  .btns button {
    margin: 5px;
    cursor: pointer;
  }
  .inputs {
    width: 100%;
    gap: 1px;
    margin: 0 auto;
    justify-content: center;
    align-items: start;
  }

  .inputs input {
    text-align: center;
    width: 5%;
    height: 8%;
  }
  img {
    margin-right: 20px;
  }
  .displayNumbers {
    width: 95%;
    height: 20vh;
    background-color: rgb(72, 72, 183);
    align-items: center;
    justify-content: center;
  }
  .card {
    background-color: rgb(71, 69, 69);
    width: 135px;
    height: 145px;
    margin: 2px;
    border-radius: 10px;
  }
  .card h2 {
    font-size: 14px;
    margin: 5px;
    padding: 3px;
    text-align: start;
  }
  .card p {
    font-size: 20px;
  }
  .multiPlay {
    width: 95%;
    height: 20vh;
    margin: 5px auto;
    font-size: 15px;
  }
  .multiPlay p {
    font-size: 15px;
  }
  .resMultiPlay {
    width: 50%;
    height: 10vh;
    margin: 2px auto;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100vh;
    background-color: rgb(37, 35, 35);
    padding: 10px;
  }
  .btns {
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
  }
  .btns button {
    font-family: "Playpen Sans", cursive;
    font-size: 20px;
    color: white;
    background-color: rgb(72, 72, 183);
    border: none;
    margin: 10px;
    cursor: pointer;
  }
  .inputs {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .inputs input {
    text-align: center;
    width: 35px;

    height: 10%;
    font-size: 14px;
    border: none;
  }
  .displayNumbers {
    width: 100%;
    height: 15vh;
    background-color: rgb(72, 72, 183);
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    gap: 1px;
    border-radius: 10px;
  }
  .card {
    background-color: rgb(71, 69, 69);
    width: 105px;
    height: 120px;
    margin: 2px;
    border-radius: 10px;
    padding: 3px;
  }
  .card h2 {
    font-size: 13px;
    text-align: center;
    margin: 2px;
  }
  .card p {
    font-size: 15px;
  }

  .multiPlay {
    width: 95%;
    height: 20vh;
    margin: 5px auto;
    font-size: 20px;
  }
  .resMultiPlay {
    width: 45%;
    height: 10vh;
    margin: 5px auto;
    font-size: 20px;
  }
}
